.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
input,
button,
select,
li {
  font-family: "freight-sans-pro", sans-serif !important;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.btn-default{
  padding: 8px 20px 13px 21px;
  margin-top: 8px;
  font-weight: 600;
  font-size: 18px;
  font-family: "freight-sans-pro", sans-serif;
  text-align: center;
  display: inline-block;
  position: relative;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.001em;
  border: 2px solid #000;
}
img {
  height: auto;
  width: 100%;
  max-width: 100%;
  vertical-align: top;
  border: 0;
}
.posts-grid {
  padding: 30px 0 80px;
  background-color: #eed688;
}
.posts-grid .block-wrap {
  max-width: 700px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .posts-grid .block-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.posts-grid .block-wrap .select {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin: 0 15px;
}
.posts-grid .block-wrap .select.rotate span:before {
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.posts-grid .block-wrap .select.rotate ul {
  opacity: 1;
  visibility: visible;
  height: auto;
  top: 48px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .posts-grid .block-wrap .select {
    margin: 0 5px;
  }
}
@media (max-width: 767px) {
  .posts-grid .block-wrap .select {
    display: block;
    margin: 25px auto;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    max-width: 100%;
  }
}
.posts-grid .block-wrap .select span {
  font-size: 16px;
  height: 48px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  background: #eed688;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 12px 30px 12px 15px;
  line-height: 1;
  font-weight: 500;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.posts-grid .block-wrap .select span.span-border {
  border-bottom: 2px solid black;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.posts-grid .block-wrap .select span:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 17px;
  margin: auto;
  width: 12px;
  height: 8px;
  background: url(../images/arrow1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.posts-grid .block-wrap .select ul {
  display: block;
  vertical-align: top;
  position: absolute;
  top: 45px;
  left: 0;
  list-style: none;
  border: 2px solid #000;
  border-top: none;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: height, 0.3s linear;
  -o-transition: height, 0.3s linear;
  transition: height, 0.3s linear;
  height: auto;
  overflow: hidden;
  background: #eed688;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0 15px;
  max-height: 220px;
  overflow-y: scroll;
  z-index: -1;
  padding-bottom: 12px;
}
.posts-grid .block-wrap .select ul.active{
  opacity: 1;
  visibility: visible;
  z-index: 5;
}
.posts-grid .block-wrap .select ul li {
  font-weight: 600;
  font-size: 16px;
  display: block;
  position: relative;
  padding: 12px 0 1px;
  word-break: break-word;
  overflow: hidden;
  cursor: pointer;
  font-family: "acumin-pro", "sans-serif";
}
.posts-grid .block-wrap .select ul li.hide {
  display: none;
}
.posts-grid .block-wrap .search {
  float: right;
  position: relative;
  font-family: "acumin-pro", "sans-serif";
}
@media (max-width: 767px) {
  .posts-grid .block-wrap .search {
    float: none;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}
.posts-grid .block-wrap .search input {
  border: 2px solid #000;
  border-radius: 4px;
  padding: 5px 53px 5px 16px;
  font-size: 16px;
  outline: 0;
  -webkit-appearance: none;
  height: 48px;
  width: 300px;
  background: #eed688;
  font-family: "acumin-pro", "sans-serif";
  font-weight: 500;
}
.posts-grid .block-wrap .search input::-webkit-input-placeholder {
  font-size: 17px;
  font-family: "freight-sans-pro", sans-serif !important;
}
.posts-grid .block-wrap .search input::-moz-placeholder {
  font-size: 17px;
  font-family: "freight-sans-pro", sans-serif !important;
}
.posts-grid .block-wrap .search input::-ms-input-placeholder {
  font-size: 17px;
  font-family: "freight-sans-pro", sans-serif !important;
}
.posts-grid .block-wrap .search input::placeholder {
  font-size: 17px;
  font-family: "freight-sans-pro", sans-serif !important;
}
@media (max-width: 767px) {
  .posts-grid .block-wrap .search input {
    max-width: 100%;
    width: 100%;
  }
}
.posts-grid .block-wrap .search button {
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 14px;
  background: transparent;
  width: 18px;
  height: 18px;
  margin: auto;
  outline: 0;
  background: transparent;
  border: 0;
}
.posts-grid .title {
  margin: 80px 0 15px;
}
@media (max-width: 767px) {
  .posts-grid .title {
    margin: 45px 0 20px;
  }
}
.posts-grid .title h2 {
  color: #000000;
  font-size: 54px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
@media (min-width: 768px) and (max-width: 991px) {
  .posts-grid .title h2 {
    font-sie: 45px;
  }
}
@media (max-width: 767px) {
  .posts-grid .title h2 {
    font-size: 31px;
  }
}
.posts-grid .grid-block {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.posts-grid .grid-block .block[ng-cloak] {
  display: none;
}
.posts-grid .grid-block .block {
  display: inline-block;
  width: calc(33% - 50px);
  margin: 52px 25px 0;
  min-height: 260px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .posts-grid .grid-block .block {
    width: calc(32% - 20px);
    margin: 30px 10px 0;
  }
}
@media (max-width: 767px) {
  .posts-grid .grid-block .block {
    width: calc(49% - 20px);
    margin: 40px 10px 0;
  }
}
@media (max-width: 595px) {
  .posts-grid .grid-block .block {
    width: 100%;
    margin: 20px 0 0 0;
  }
}
.posts-grid .grid-block .block .inner-wrap {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px 25px;
  text-align: center;
  height: 100%;
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.08);
}
@media (max-width: 595px) {
  .posts-grid .grid-block .block .inner-wrap {
    padding: 25px 18px;
  }
}
.posts-grid .grid-block .block .inner-wrap .btn-wrap {
  margin-top: 12px;
  width: 100%;
}
.posts-grid .grid-block .block .img-wrap {
  max-width: 320px;
  height: 215px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
}
.posts-grid .grid-block .block .img-wrap img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.posts-grid .grid-block .block .content-wrap {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-top: 25px;
  width: 100%;
}
.posts-grid .grid-block .block h6 {
  font-size: 20px;
  margin-top: 5px;
  font-weight: 700;
  line-height: 1.45;
  font-family: "acumin-pro", "sans-serif";
}
.posts-grid .grid-block .block p {
  font-size: 14px;
  margin: 12px 0 2px;
}
.posts-grid .grid-block .block span {
  font-size: 12px;
  display: block;
  margin: 3px 0 15px;
}
.posts-grid .btn-outer {
  display: block;
  text-align: center;
  margin-top: 90px;
}
@media (max-width: 767px) {
  .posts-grid .btn-outer {
    margin-top: 68px;
  }
}
.posts-grid .btn-outer .btn-default {
  padding: 12px 45px;
}
.posts-grid.bg-yellow {
}
.posts-grid .no-record {
  display: none;
  font-size: 21px;
  margin: 0 auto;
  text-align: center;
}
