<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Javascript</title>
    <link rel="stylesheet" href="https://use.typekit.net/enp4jkt.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="posts-grid">
        <div class="container">
          <div class="block-wrap">
            <div class="select">
              <span class="span-border">All</span>
              <ul>
                <li data-slug="">All</li>
              </ul>
            </div>
            <div class="search">
              <input type="text" placeholder="Search" ng-model="searchEvent" id="searchText">
              <button type="submit"><img src="images/SearchIcon.png" alt="search"></button>
            </div>
          </div>
          <div class="title">
            <h2>Most Recent Post</h2>
          </div>
          <div class="grid-block">
            <div class="block">
              <div class="inner-wrap wow wefadeInUp">
                <div class="content-wrap">
                  <h6>Lorem Ipsum dolor</h6>
                  <p>It’s okay if a space isn’t ready right away—it’s been a busy week at the office! With an OpenSpace office, Leslie can work wherever she wants until a cubicle opens up.</p>
                  <span>Webinar</span>
                </div>
              </div>
            </div>
            <div class="block">
              <div class="inner-wrap wow wefadeInUp">
                <div class="content-wrap">
                  <h6>Lorem Ipsum dolor</h6>
                  <p>It’s okay if a space isn’t ready right away—it’s been a busy week at the office! With an OpenSpace office, Leslie can work wherever she wants until a cubicle opens up.</p>
                  <span>Webinar</span>
                </div>
              </div>
            </div>
            <div class="block">
              <div class="inner-wrap wow wefadeInUp">
                <div class="content-wrap">
                  <h6>Lorem Ipsum dolor</h6>
                  <p>It’s okay if a space isn’t ready right away—it’s been a busy week at the office! With an OpenSpace office, Leslie can work wherever she wants until a cubicle opens up.</p>
                  <span>Webinar</span>
                </div>
              </div>
            </div>
            <div class="block">
              <div class="inner-wrap wow wefadeInUp">
                <div class="content-wrap">
                  <h6>Lorem Ipsum dolor</h6>
                  <p>It’s okay if a space isn’t ready right away—it’s been a busy week at the office! With an OpenSpace office, Leslie can work wherever she wants until a cubicle opens up.</p>
                  <span>Webinar</span>
                </div>
              </div>
            </div>
            <div class="block">
              <div class="inner-wrap wow wefadeInUp">
                <div class="content-wrap">
                  <h6>Lorem Ipsum dolor</h6>
                  <p>It’s okay if a space isn’t ready right away—it’s been a busy week at the office! With an OpenSpace office, Leslie can work wherever she wants until a cubicle opens up.</p>
                  <span>Webinar</span>
                </div>
              </div>
            </div>
            <div class="block">
              <div class="inner-wrap wow wefadeInUp">
                <div class="content-wrap">
                  <h6>Lorem Ipsum dolor</h6>
                  <p>It’s okay if a space isn’t ready right away—it’s been a busy week at the office! With an OpenSpace office, Leslie can work wherever she wants until a cubicle opens up.</p>
                  <span>Webinar</span>
                </div>
              </div>
            </div>
            <div class="block">
              <div class="inner-wrap wow wefadeInUp">
                <div class="content-wrap">
                  <h6>Lorem Ipsum dolor</h6>
                  <p>It’s okay if a space isn’t ready right away—it’s been a busy week at the office! With an OpenSpace office, Leslie can work wherever she wants until a cubicle opens up.</p>
                  <span>Webinar</span>
                </div>
              </div>
            </div>
            <div class="block">
              <div class="inner-wrap wow wefadeInUp">
                <div class="content-wrap">
                  <h6>Lorem Ipsum dolor</h6>
                  <p>It’s okay if a space isn’t ready right away—it’s been a busy week at the office! With an OpenSpace office, Leslie can work wherever she wants until a cubicle opens up.</p>
                  <span>Webinar</span>
                </div>
              </div>
            </div>
            <div class="block">
              <div class="inner-wrap wow wefadeInUp">
                <div class="content-wrap">
                  <h6>Lorem Ipsum dolor</h6>
                  <p>It’s okay if a space isn’t ready right away—it’s been a busy week at the office! With an OpenSpace office, Leslie can work wherever she wants until a cubicle opens up.</p>
                  <span>Webinar</span>
                </div>
              </div>
            </div>
          </div>
          <p class="no-record">No Result Found</p>
          <div class="btn-outer">
            <span class="btn-default" id="load-more">Load More</span>
          </div>
        </div>
      </section>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>